[submodule "external/lusol"]
	path = external/lusol
	url = https://github.com/nwh/lusol.git
[submodule "external/pdco"]
	path = external/pdco
	url = https://github.com/mxsaunders/pdco.git
[submodule "external/Smith-Decomposition"]
	path = external/Smith-Decomposition
	url = https://github.com/nbfigueroa/Smith-Decomposition.git
[submodule "binary"]
	path = binary
	url = https://github.com/opencobra/COBRA.binary.git
[submodule "external/gaimc"]
	path = external/gaimc
	url = https://github.com/dgleich/gaimc.git
[submodule "test/models"]
	path = test/models
	url = https://github.com/cobrabot/COBRA.models
[submodule "external/Volume-and-Sampling"]
	path = external/Volume-and-Sampling
	url = https://github.com/Bounciness/Volume-and-Sampling.git
