# Windows default autosave extension
*.asv
Thumbs.db

# OSX / *nix default autosave extension
*.*~

# Compiled MEX binaries (all platforms)
*.mex*

# Simulink Code Generation
slprj/

# Session info
octave-workspace

# hidden extensions
.DS_Store

# specific extensions
*.pyc
*.mps

# logfiles
*.log
*.zip

# specific folders
src/fluxomics/c13solver/IsotopomerModel.txt
src/fluxomics/c13solver/convertCarbonInput.m
src/fluxomics/c13solver/slvrCumomer.m
src/fluxomics/c13solver/slvrCumomer_fast.m
src/fluxomics/c13solver/slvrEMU.m
src/fluxomics/c13solver/slvrEMU_fast.m

# model files for testing
test/models/*.xml
test/models/*.mat

# tests
test/testGrowthExpMatch/GEMLog.txt
test/testGrowthExpMatch/GEMLog_solution_1.mat
test/testMaps/target.svg

# verified tests
test/verifiedTests/testSampling/ACHRParallelError.txt
test/verifiedTests/testSampling/ACHR_last_point.mat
test/verifiedTests/testSampling/ACHRerror.txt
test/verifiedTests/testSampling/EcoliModelSamples_1.mat
test/verifiedTests/testSampling/EcoliModelSamples_2.mat
test/verifiedTests/testSampling/EcoliModelSamples_3.mat
test/verifiedTests/testSampling/EcoliModelSamples_4.mat
test/verifiedTests/testSampling/modelRedTmp.mat
test/verifiedTests/testSampling/sampleCbModelTmp.mat
test/verifiedTests/testSampling/sampleStructTmp.mat
test/verifiedTests/testMultiSpeciesModelling/*.mat
test/verifiedTests/testSBML/*.sbml.xml
test/verifiedTests/testFastGapFill/KEGGMatrix.mat
test/verifiedTests/testTools/testPrintMatrix.txt
test/verifiedTests/testMassChargeBalance/*.txt
test/verifiedTests/testFastGapFill/*.mat
test/verifiedTests/testTools/testData_printLabeledData.txt
test/verifiedTests/testSolvers/MILPProblem.mat
test/verifiedTests/testOutputNetworkCytoscape/data*

# shared libraries
*.so

# Windows executable files
*.exe

# Windows dynamic library files
*.dll

# autogenerated documentation
docs/build

# examples folder in gapFilling
src/gapFilling/fastGapFill/examples

# generated .mat files in tutorials
tutorials/fastGapFill/results_*.mat
tutorials/fastGapFill/KEGGMatrix.mat
tutorials/fastGapFill/prepareFGFResultsDefault.mat

# hidden folders
.vscode/
