# Windows default autosave extension
*.asv
Thumbs.db

# OSX / *nix default autosave extension
*.*~

# Compiled MEX binaries (all platforms)
*.mex*

# Simulink Code Generation
slprj/

# Session info
octave-workspace

# hidden extensions
.DS_Store
.MATLABDriveTag

# specific extensions
*.pyc
*.mps
diary.txt

# logfiles
*.log
*.zip

#lock files
.~lock.*

# coverage
coverage.json
coverage_html

# omit DB settings from rBionet
src/reconstruction/rBioNet/rBioNetSettingsDB.mat

# specific folders
src/dataIntegration/fluxomics/c13solver/IsotopomerModel.txt
src/dataIntegration/fluxomics/c13solver/convertCarbonInput.m
src/dataIntegration/fluxomics/c13solver/slvrCumomer.m
src/dataIntegration/fluxomics/c13solver/slvrCumomer_fast.m
src/dataIntegration/fluxomics/c13solver/slvrEMU.m
src/dataIntegration/fluxomics/c13solver/slvrEMU_fast.m

# model files for testing
test/models/*.xml
test/models/*.mat

# tests
test/additionalTests/testGrowthExpMatch/GEMLog.txt
test/additionalTests/testGrowthExpMatch/GEMLog_solution_1.mat
test/additionalTests/testMaps/target.svg

# verified tests
test/verifiedTests/analysis/testSampling/ACHRParallelError.txt
test/verifiedTests/analysis/testSampling/ACHR_last_point.mat
test/verifiedTests/analysis/testSampling/ACHRerror.txt
test/verifiedTests/analysis/testSampling/EcoliModelSamples_1.mat
test/verifiedTests/analysis/testSampling/EcoliModelSamples_2.mat
test/verifiedTests/analysis/testSampling/EcoliModelSamples_3.mat
test/verifiedTests/analysis/testSampling/EcoliModelSamples_4.mat
test/verifiedTests/analysis/testSampling/modelRedTmp.mat
test/verifiedTests/analysis/testSampling/sampleCbModelTmp.mat
test/verifiedTests/analysis/testSampling/sampleStructTmp.mat
test/verifiedTests/analysis/testMultiSpeciesModelling/*.mat
test/verifiedTests/base/testSBML/*.sbml.xml
test/verifiedTests/reconstruction/testFastGapFill/*.mat
test/verifiedTests/analysis/testTools/testPrintMatrix.txt
test/verifiedTests/reconstruction/testMassChargeBalance/*.txt
test/verifiedTests/base/testTools/testData_printLabeledData.txt
test/verifiedTests/base/testSolvers/MILPProblem.mat
test/verifiedTests/base/testOutputNetworkCytoscape/data*
test/verifiedTests/analysis/testPrint/printConstraints.txt
test/verifiedTests/analysis/testEnumerateOptimal/MILPProblem.mat
ACHR_last_point.mat
ACHRerror.txt
EcoliModelSamples_1.mat
EcoliModelSamples_2.mat
EcoliModelSamples_3.mat
EcoliModelSamples_4.mat
modelRedTmp.mat
sampleCbModelTmp.mat
test/verifiedTests/analysis/testEnumerateOptimal/MILPProblem.mat
test/verifiedTests/analysis/testThermo/MILPProblem.mat
test/verifiedTests/design/MILPProblem.mat
test/verifiedTests/design/testOptForce/TestOptForceM/
test/verifiedTests/reconstruction/testModelBorgifier/SRP065497_taxonomy_abundances_v3.0.tsv

# shared libraries
*.so

# Windows executable files
*.exe
*.exe.*

# Windows dynamic library files
*.dll

# dump files
sh.exe.stackdump

# autogenerated documentation
docs/build
docs/source/list_contributors.rst

# examples folder in gapFilling
src/reconstruction/fastGapFill/examples/

# generated .mat files in tutorials
tutorials/reconstruction/fastGapFill/results_*.mat
tutorials/reconstruction/fastGapFill/KEGGMatrix.mat
tutorials/reconstruction/fastGapFill/prepareFGFResultsDefault.mat
tutorials/reconstruction/fastGapFill/example/prepareFGFResultsDefault.mat
tutorials/IO/Abiotrophia_defectiva_ATCC_49176.xml
tutorials/IO/ecoli_core_model.mat
PPP120.mat
E.mat
tutorials/ecoliCoreModel/*.svg
tutorials/ecoliCoreModel/*.xls
tutorials/steadyCom/POA/*.mat
SubNetworkRecon.mat
Test4Functions_diary.txt
CobraMILPSolver.log
GlycolysisAndTCACorrected.xml
fbaFlux.xml
fbaFluxDirectionality.xml
mapATPADPColoured.xml
mapATPADPRxnsColoured.xml
mapColouredProteins.xml
mapGlyATPADPRxnsAllColoured.xml
mapGlyMetColoured.xml
mapGlyNotes.xml
mapGlyRxnColoured.xml
mapGlySubsystemsColoured.xml
mapGlyUnified.xml
mapMitocartaHumanGenes.xml
mapMitocartaTransportColoured.xml
mapNodesArea.xml
mapPPIUnified.xml

#generated MILP problem files
MILPProblem.mat

# generated tutorial documentation
docs/source/_static/tutorials/*.html
docs/source/tutorials/tutorial*.rst

# hidden folders
.vscode/

# temporary folder
.tmp/
output/

# directory for windows when rmdir fails
test/verifiedTests/base/testIO/m_model_collection
tutorials/additionalTutorials/optKnock/Results/

# .documenter file
docs/.documenter
docs/source/_static/json/functions.json

# images
*.eps
*.jpg
*.jpeg
*.gif
*.png
*.tiff

# videos
*.flv
*.mp4

# external modules (legacy)
external/Smith-Decomposition/
external/gaimc/
external/lusol/
external/pdco/
