# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Simulink Code Generation
slprj/

# Session info
octave-workspace

# hidden extensions
Thumbs.db
.DS_Store

# specific extensions
*.pyc
*.mps

# logfiles
*.log
*.zip

# specific folders
fluxomics/c13solver/IsotopomerModel.txt
fluxomics/c13solver/convertCarbonInput.m
fluxomics/c13solver/slvrCumomer.m
fluxomics/c13solver/slvrCumomer_fast.m
fluxomics/c13solver/slvrEMU.m
fluxomics/c13solver/slvrEMU_fast.m

# model files for testing
test/models/*.xml
test/models/*.mat

# tests
test/testGrowthExpMatch/GEMLog.txt
test/testGrowthExpMatch/GEMLog_solution_1.mat
test/testMaps/target.svg
test/testSampling/ACHRParallelError.txt
test/testSampling/ACHR_last_point.mat
test/testSampling/ACHRerror.txt
test/testSampling/EcoliModelSamples_1.mat
test/testSampling/EcoliModelSamples_2.mat
test/testSampling/EcoliModelSamples_3.mat
test/testSampling/EcoliModelSamples_4.mat
test/testSampling/modelRedTmp.mat
test/testSampling/sampleCbModelTmp.mat
test/testSampling/sampleStructTmp.mat

# verified tests
test/verifiedTests/testSBML/*.sbml.xml

# shared libraries
*.so

# Windows executable files
*.exe

# Windows dynamic library files
*.dll
