/seqc_proc/{DEPO_demo,DEPO_proc,REPO_gref,REPO_tool}/*
/seqc_input/*
/seqc_output/*
.DS_Store
# Retain core directories
!/seqc_{input,output,proc}/.gitkeep
#echo .DS_Store >> ~/.gitignore_global
#git config --global core.excludesfile ~/.gitignore_global