#git+https://github.com/LCSB-BioCore/sphinx.git@develop#egg=sphinx
recommonmark
sphinxcontrib-matlabdomain
sphinxcontrib-fulltoc
sphinx_rtd_theme
git+https://github.com/opencobra/sphinx_cobra_theme.git@develop#egg=sphinx_cobra_theme
#git+https://github.com/syarra/Documenter.py@master#egg=documenter
sphinxcontrib-napoleon
pyGithub
