name: Update function docs

on:
  pull_request_target:
    types:
      - closed
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'
    - name: Install dependencies
      working-directory: ./documentation
      run: |
        pip install -r requirements.txt
    - name: Generate publications rst file
      working-directory: ./documentation/source/sphinxext
      run: |
        python GenerateCitationsRST.py
    - name: Update packages
      working-directory: ./documentation/source
      run: |
        python ./sphinxext/copy_files.py
    - name: Generate functions rst files
      working-directory: ./documentation/source/modules
      run: |
        python ./GetRSTfiles.py
    - name: generate documentation
      working-directory: ./documentation
      run: |
        make html
    - name: Copy the citations html page
      run: |
        cp ./documentation/build/html/citations.html ./documentation/source/Citations/citations.html
    - name: Deploy the function modules
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: ./documentation/build/html/modules
        branch: master
        target-folder: docs/modules
    - name: Deploy the citations page
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./documentation/source/Citations
        publish_branch: master
        keep_files: true
        destination_dir: docs
    - name: Deploy the citations static page
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./documentation/build/html/_static
        publish_branch: master
        keep_files: true
        destination_dir: docs/_static
